* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e6ebe6;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 20px;
    background-color: #27AE60;
    color: #fff;
}

.top-nav .logo img {
    margin-left: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.top-nav .logo p
{
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav .menu-items ul {
    display: flex;
    list-style: none;
    margin-left: 475px;
}

.top-nav .menu-items ul li {
    margin: 0 15px;
}

.top-nav .menu-items ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
}

.nav-buttons .btn {
    width: 100px;
    height: 35px;
    background: #4abb79;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
}

.nav-buttons .btn:hover {
    background: #1e8449;
}

.nav-buttons .btn.white-btn {
    background: #4abb79;
    color: #fff;
}

.nav-buttons .btn.white-btn:hover {
    background: #1e8449;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url('image4.jpg') no-repeat center center/cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 750;
    color: #000;
}
.contact .content p {
    font-weight: 350;
    color: #000;
    margin-top: 10px;
    line-height: 2;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.contactInfo 
{
    width: 100%;
    max-width: 500px;
    margin: 15px;
    margin-left: -50px;
}
.contactForm {
    width: 100%;
    max-width: 500px;
    margin: 15px;
}
.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background: #e6ebe6;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #e6ebe6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #27AE60;
}
.contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.contactInfo .box .text h3 {
    font-weight: 500;
    color: #27AE60;
}
.contactForm {
    padding: 40px;
    background: #27AE60;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contactForm h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #e6ebe6;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #000;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: #fff;
    color: #27AE60;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}
.contactForm .inputBox input[type="submit"]:hover {
    background: #e6ebe6;
}
@media (max-width: 768px) {
    .contact {
        padding: 20px;
    }

    .container {
        flex-direction: column;
    }

    .contactInfo, .contactForm {
        width: 100%;
    }
}
