* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e6ebe6; 
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 20px;
  background-color: #27AE60;
  color: #fff;
}

.top-nav .logo img {
  margin-left: 35px;
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav .logo p {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav .menu-items ul {
  display: flex;
  list-style: none;
  margin-left: 300px;
}

.top-nav .menu-items ul li {
  margin: 0 15px;
  margin-top: 20px;
  position: relative; 
}

.top-nav .menu-items ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 50px;
}

.main {
    height: calc(100vh - 4rem);
    background-image: url('background2.jpg');
    filter: blur(0.2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container 
{
    margin-left: 250px;
}

.glass-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 70%;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo-icon {
    display: flex;
    width: 150px;
    height: auto;
    border-radius: 50%;
    background-color: lightblue;
    position: relative;
    top: -3rem;
}

.title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.para {
    margin: 3rem 2rem 0 2rem;
    line-height: 1.7rem;
    color: #1c6000;
    text-align: center;
    font-weight: 600;
}
